$default: #ccc;
$all_colors: (
    'yellow': #DED912,
    'orange': #D67923,
    'red': #D62D2F,
    'purple': #6A09B3,
    'blue': #1E6BD9,
    'green': #32C949,
    'pink': #C95EBB
);
$warn_base: #99FF38;
$warning_colors: (
    'warn-0': #F1EB3A,
    'warn-1': #FFAA3B,
    'warn-2': #FF6B3C,
    'warn-3': #FF1600,
    'warn-4': #C10100,
    'warn-5': #960002,
);
