@import "colors";

@mixin panel_colors($color) {
    $hover: darken($color, 15%);
    $border: darken($color, 10%);

    border: 1px solid $border;

    .panel-heading {
        background-color: $color;
    }
    .panel-heading {
        border-bottom: 1px solid $hover;
    }
    .panel-body {
    }
    .panel-footer {
        border-top: 1px solid $hover;
    }
    &.grad {
        .panel-heading {
            @include gradient($color, darken($color, 20%));
        }
    }
}

.panel {
    display: inline-block;

    > .panel-heading,
    > .panel-body,
    > .panel-footer {
        padding: 0.4em 0.8em;
    }
    .panel-heading {
        h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }
    }
    &.panel-dark {
        background-color: #333;
        color: white;
        .panel-heading {
            background-color: #555;
            color: #ccc;
        }
        .panel-heading,
        .panel-footer {
            color: #f1f1f1;
        }
    }
    &.shadow {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }
    &.edge {
        border-right-width: 4px;
        border-bottom-width: 4px;
    }

    @include panel_colors(lighten($default, 10%));

    @each $color, $hex in $all_colors {
        &.panel-#{$color} {
            @include panel_colors(lighten($hex, 35%));
        }
    }
}
